.about-background{
    position: absolute;
    top:0;
    z-index: -1;
    width: 100%;
    height: 120%;
}

.myphoto{
    margin-top: -10%;
    width: auto;
    height: 35rem;
}


.padding{
    padding-top: 3rem;
}

h1{
    font-size: 80px;
    font-weight: 700;
    color: #FFFFFF;
}

h2{
    font-size: 60px;
    color: #282828;
}

h4 {
    padding-top: 2rem;
    color: #282828;
}

p{
    font-size:large;
}

b{
    color: #e55050;
}

.leading-text{
    font-size: 30px;
    font-weight: 700;
    color: #C04F36;
}