.btn-danger:hover, .btn-danger:active, .btn:active{
    background-color: #ce454e;
    border:none
}

.btn-danger{
    background-color:#fdb2b7;
    border:none
}

.arrow-icon {
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0);
    }
  }